 h1{
    color: lightblue;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: large;
 }
 h2{
    color: lightgreen;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: medium;
 }

 h3{
    color: orange;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: small;
 }

p{
    color: purple;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: x-small;
}